body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    background-color: #bcffff;
    padding: 10px ;
    font-family: Arial, Helvetica, sans-serif ;
    
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
     background-color: rgb(187, 187, 187) ;
}

#textbox{
    border: 1px solid grey;
    width: 450px;
    height: 20vh;
    max-width: 700px;
    min-width: 200px;
    border-radius: 20px;}
.keyboard div{
    display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0px 0;
  height: 9vh;
  gap: 1px;
   background-color: rgb(187, 187, 187) ;
}




.button1{ 
    flex: 0 1 50px;  
        
   box-shadow: -2px -2px 5px grey;
    cursor: pointer;}
.button2{ 
    flex: 0 1 52px;  
        
   box-shadow: -2px -2px 5px grey;
    cursor: pointer;}
.button3{ 
    flex: 0 1 56px;  
        
   box-shadow: -2px -2px 5px grey;
    cursor: pointer;
        
    
}
.button4{ 
    flex: 0 1 61px;  
        
   box-shadow: -2px -2px 5px grey;
    cursor: pointer;}
.button5{ 
    
    flex: 0 1 746px;  
        
   box-shadow: -2px -2px 5px grey;
    cursor: pointer;
}


 #onekey{
    
    border-radius: 5px;
    background-color: rgb(221, 175, 183) ;
    border: 1px solid grey;
}

#Backspace{
    border-radius: 5px;
    background-color: #a9d5ee;
    border: 1px solid grey;
}
 
#tab{
    background-color: rgb(236, 164, 176);
     border: 1px solid grey;
}

#caps{
    background-color: rgb(185, 148, 185);
    border: 1px solid grey;
}

#enter{
     background-color: rgb(185, 148, 185);
    border: 1px solid grey;
}
#Shift{
    background-color: hsl(276, 20%, 67%);
     border: 1px solid grey;
}
#Shift2{
    background-color: hsl(276, 20%, 67%);
     border: 1px solid grey;
}
#Space{
    background-color: hsl(60, 100%, 64%);
    border: 1px solid grey;

}
